<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blog title</title>
</head>
<body>
    <div>
        <h1>
            <a href="/">Blog Giris</a>
        </h1>
    </div>
    <div>
        <h2>
            <a href="">blog icerikler</a>
            <p> bugün güzel bir seyler yapalim</p>
        </h2>
    </div>
    <div>
       <a href="">blog diger icerigi</a>
        <p> blogumu hosgeldin bro</p>
    </div>
    <div>icerik4</div>
    <div>diger sayfaalar</div>
</body>
</html>